.loginBG{
    background: url(../img/loginBG.jpg) ;
    background-size:cover;
    height: 100%;
    width: 100%;
    position: fixed;
}
.bgOverlay{
    background-color: rgba(80, 69, 238, 0.616);
    height: 100%;
    width: 100%;
    position: fixed;
}

.regBox{
    position: absolute;
  margin: 50px;
 
  background-color: #ffffff;
  
  border-radius: 10px;
  
}

.reg-logo{
    width: auto;
    height: 50px;
}

